<% render_editor = options.fetch(:render_editor, true) %>
<% editor_html_options = options[:editor_html_options] || {} %>
<% if render_editor %>
  <%= table_preferences_editor(
    table_key: table_key,
    name: name,
    settings: settings,
    columns: columns,
    html_options: editor_html_options
  ) %>
<% end %>

<% caption = local_assigns.fetch(:caption, nil) %>
<% table_options = options.except(:class, :render_editor, :editor_html_options).merge(
  class: ["rails-table-preferences-resource-table", options[:class]].compact.join(" ")
) %>
<% visible_columns = table_state.fetch("visible_columns") %>

<%= table_preferences_table_tag(
  table_key: table_key,
  name: name,
  settings: settings,
  columns: columns,
  **table_options
) do %>
  <% if caption.present? %>
    <caption><%= caption %></caption>
  <% end %>
  <thead>
    <tr>
      <% visible_columns.each do |column| %>
        <th data-rails-table-preferences-column-key="<%= column.fetch("key") %>">
          <%= column["label"] || column.fetch("key") %>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% if records.empty? %>
      <tr class="rails-table-preferences-resource-table__empty-row">
        <td class="rails-table-preferences-resource-table__empty-cell" colspan="<%= visible_columns.size %>">
          <%= I18n.t("rails_table_preferences.resource_table.empty", default: "No records to display") %>
        </td>
      </tr>
    <% else %>
      <% records.each do |record| %>
        <tr>
          <% visible_columns.each do |column| %>
            <td data-rails-table-preferences-column-key="<%= column.fetch("key") %>">
              <%= table_preferences_value(record, column) %>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
<% end %>
